<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SDI System | Log In</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="CAMELLonCASE" name="author" />

        {% load static %}
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}">

        <!-- third party css -->
        <link href="{% static 'assets/css/vendor/responsive.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/vendor/select.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/vendor/buttons.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/vendor/dataTables.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
        <!-- third party css end -->

        <!-- App css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app-creative.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{% static 'assets/css/app-creative-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style" />


    </head>

    <body class="authentication-bg" data-layout-config='{"darkMode":false}'>

        <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-4 col-lg-5">
                        <div class="card">

                            <!-- Logo -->
                            <div class="card-header text-center bg-primary">
                                <h2 class="text-white text-center mt-2 fw-bold">SDI - PROJECT</h2>
                            </div>

                            <div class="card-body p-4">

                                <div class="text-center w-75 m-auto">
                                    <h4 class="text-dark-50 text-center mt-0 fw-bold">Profile</h4>
                                    <p class="text-muted mb-4">Select your current profile to access the platform.</p>
                                </div>
                                <div class="d-grid btn-group-vertical">

                                        <a href="{% url 'tourist' %}">
                                            <button type="button" class="btn btn-outline-primary mb-2" style="width: 100%">Tourist</button>
                                        </a>
                                        <a href="http://localhost:1234/">
                                            <button type="button" class="btn btn-outline-secondary mb-2" style="width: 100%">Journalist</button>
                                        </a>
                                        <a href="{% url 'citizen_scientist' %}">
                                            <button type="button" class="btn btn-outline-success mb-2" style="width: 100%"> Citizen Scientist</button>
                                        </a>
                                        <a href="{% url 'gi_specialist' %}">
                                            <button type="button" class="btn btn-outline-danger mb-2" style="width: 100%">GI Specialist</button>
                                        </a>

                                </div>
                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->


                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <footer class="footer footer-alt">
            2024 © SDI - CAMELLonCASE
        </footer>

        <!-- bundle -->
        <script src="{% static 'assets/js/vendor.min.js' %}"></script>
        <script src="{% static 'assets/js/app.min.js' %}"></script>

    </body>
</html>
